$bg-color:  rgba(78, 205, 196, 1);

$Light-green: #7ed56f;
$color-white: #fff;

$light-gray:#eee;

$drak-green:rgba(26, 83, 92, 1);
$drak-gray:#757575;

$button-colors: rgba(255, 107, 107, 1);

$second-button: rgba(255, 230, 109, 1);


.login-bg{
    background-image: linear-gradient(to right bottom, rgba(26, 83, 92,0.8), rgba(78, 205, 196,0.8)), url(../img/land_background.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


#login-page{

    #form-container{
        margin-top:300px;
        width: 100%;
      
       .form-wrapper{
            max-width: 300px;
            width: 100%;
            margin: 0 auto;
            background-color:$color-white;
            background-size: cover;
            color:$drak-gray;
             height: 100%;
            text-align: center;
            display: flex;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 20px;
            border: solid 1px $light-gray;
            border-radius: 10px;
           
     }
    
        .form-control{
            width: 80%;
            margin: 0 auto;
        }
    
        .btn-primary{
            background-color:$bg-color;
            margin-top: 10px;
            font-size: 14px;
            font-weight: 800;
            letter-spacing: 1px;
            border-color: $bg-color;
            width: 80%;
            text-transform: uppercase;
            font-family: 'Open Sans', sans-serif;
            padding-top: 10px;
            padding: 10px 20px 10px 20px;
    
            &:hover{
                background-color:$color-white;
                border-color: $bg-color;
                color:$bg-color;
            }
            
        }
    
       
    }
    
    

}



.subpage-content{

    text-align: left;
  

    .btn-primary{
        background-color:$button-colors;
        font-size: 14px;
        font-weight: 800;
        letter-spacing: 1px;
        border-color: $button-colors;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        padding-top: 10px;
        padding: 8px 20px 8px 20px;
        color:$color-white;
        margin-left: 10px;
        

        &:hover{
            background-color:$color-white;
            border-color: $button-colors !important;
            color:$button-colors!important;
        }

        
        &:active{
            background-color:$color-white !important;
            border-color: $button-colors !important;
            color:$button-colors!important;
        }

        &:focus{
            background-color:$color-white !important;
            border-color: $button-colors !important;
            color:$button-colors!important;
        }



       


    }

    .bg-light {
        background-color:$bg-color!important;

       
    }


    .list-group-item{
        color:$color-white;
        background-color:$bg-color!important;
        font-weight: bold;
        font-size: 18px;
        &:hover{
            background-color: $color-white !important;
            color:$bg-color;
        }
        
       
    }

    .sidebar-heading {
        display: none;
    }
    
    
    
   


    .table{
    

        th{
            text-transform: uppercase;
            color:$drak-gray;
            letter-spacing: 1;
        }
    
        td{
            color:$drak-gray;
        }
    }
    
    
    #land-table_length {
        position: relative;
        left: 1%;
    }
    
    #land-table_filter {
        position: relative;
        left: -1%;
    }
    
    #land-table_paginate {
        position: relative;
        right: 0%;
    }
    
    div.dataTables_wrapper div.dataTables_info {
     display: none;
    }


    .page-item.active .page-link {
        z-index: 1;
        color:$color-white;
        background-color: $bg-color;
        border-color:$color-white;
    }

    .page-link:hover{
        background-color: $drak-green;
        color:$color-white;
    }


    p{
        margin-bottom: 20px;
    }

    h1{
        padding-top: 60px;
        color: $bg-color;
    }

    .navbar-light .navbar-nav .nav-link{
        color:$bg-color;
        font-weight: bold;
        margin-right: 50px;
        text-transform: uppercase;
        letter-spacing: 1px;

        @media screen and (max-width: 991px) {
            margin-left: 14px;

        }
       
    }
    

}






.button-container{
    margin-bottom: 40px;
    padding-top: 40px;

    .btn-danger {
        color: #fff;
        background-color:$button-colors !important ;
        border-color:$button-colors !important;
    }
    
    .btn-warning {
        color: #212529;
        background-color:$second-button;
        border-color:$second-button;
        margin-right:15px;
    }
    
}



#myChart {
    position: relative;
    left: -4%;
    top:44px;
}

.navbar {
    padding: 5px;
    -webkit-box-shadow: 0 10px 6px -12px #ccc;
    -moz-box-shadow: 0 10px 6px -12px #ccc;
    box-shadow: 0 10px 6px -10px #ccc;
}


.table-responsive {
    display: block;
    width: 100%;
    overflow-x: hidden;

    @media screen and (max-width: 1000px) {
        overflow-x: auto;
    }


  
}

.page-link {
    color: $drak-green;
 
}


.navbar-toggler {
    position: relative;
    left: 250%;

   
    @media screen and (max-width: 640px) {
        left: 140%;

    }
}






    














